@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}
section {
  margin-top: 4rem;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: outside none none;
}
a {
  color: #75d3fd;
}
@media screen and (min-width: 1024px) {
  .container {
      max-width: 1300px;
      margin: 0 auto;
  }
}
